.fem-multi-step-form {
  --color-primary-blue-950: #02295a;
  --color-primary-purple-600: #473dff;
  --color-primary-blue-300: #adbeff;
  --color-primary-blue-200: #bfe2fd;
  --color-primary-red-500: #ed3548;

  --bg-color: #eef5ff;

  --neutral-grey-500: #9699ab;
  --neutral-purple-200: #d6d9e6;
  --neutral-blue-100: #f0f5ff;
  --neutral-blue-50: hsl(231, 100%, 99%);
}
